<mat-card class="container" appearance="outlined">
  <mat-card-header class="header">
    <mat-card-title>Действующие маршруты IPv4</mat-card-title>
  </mat-card-header>
  <mat-card-content class="content"
    ><table
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8 list-table"
      matSort
    >
      <!-- Address Column -->
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Адрес назначения
        </th>
        <td mat-cell *matCellDef="let element">{{ element.address }}</td>
      </ng-container>

      <!-- Gateway Column -->
      <ng-container matColumnDef="gateway">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Шлюз</th>
        <td mat-cell *matCellDef="let element">{{ element.gateway }}</td>
      </ng-container>

      <!-- Interface Column -->
      <ng-container matColumnDef="interface">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Интерфейс</th>
        <td mat-cell *matCellDef="let element">{{ element.interface }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card-content>
</mat-card>
